@import "./reset.css";
/* @import url("https://fonts.googleapis.com/css2?family=Vollkorn:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"); */

@font-face {
  font-family: "Verdana";
  src: url("Verdana-BoldItalic.eot");
  src: local("Verdana Bold Italic"), local("Verdana-BoldItalic"),
    url("Verdana-BoldItalic.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Verdana-BoldItalic.woff2") format("woff2");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Verdana";
  src: url("Verdana-Italic.eot");
  src: local("Verdana Italic"), local("Verdana-Italic"),
    url("Verdana-Italic.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Verdana-Italic.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Verdana";
  src: url("Verdana.eot");
  src: local("Verdana"), url("Verdana.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Verdana.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Verdana";
  src: url("Verdana-Bold.eot");
  src: local("Verdana Bold"), local("Verdana-Bold"),
    url("Verdana-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Verdana-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

:root {
  --index: calc(1vw + 1vh);
  --light-text-col: black;
  --light-bgr-col: rgba(230, 215, 167, 0.436);
  --dark-text-col: #1f8f12;
  --dark-bgr-col-main: rgba(255, 255, 255, 0.658);
}

html {
  /* font-family: "Vollkorn", serif; */
  font-family: "Verdana";
  scroll-behavior: smooth;
}

.logo-img {
  width: calc(var(--index) * 25);
  height: calc(var(--index) * 7);
}
.logo-img-footer {
  width: calc(var(--index) * 25);
  height: calc(var(--index) * 8);
}

.img-iymf,
.img-nerv,
.img-blood {
  width: calc(var(--index) * 20);
  height: calc(var(--index) * 25);
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 16px;
}
.img-drm {
  width: calc(var(--index) * 25);
  height: calc(var(--index) * 25);
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 16px;
}

h2 {
  font-size: calc(var(--index) * 2.5);
  font-weight: bold;
  margin-top: 0;
}
h3 {
  font-size: calc(var(--index) * 2);
  font-weight: bold;
  margin-top: 16px;
}
h4 {
  text-align: left;
  margin-left: 8px;
  font-size: calc(var(--index) * 1.7);
  margin-top: 8px;
}
p {
  text-align: left;
  margin-left: 8px;
  font-size: calc(var(--index) * 1.7);
  margin-top: 8px;
}
.ket {
  text-align: center;
  font-size: calc(var(--index) * 2.5);
  color: #f10606;
  font-weight: 600;
  padding-bottom: 8px;
  font-style: italic;
}
.link {
  color: rgb(60, 190, 186);
}
span {
  font-weight: bold;
  font-size: calc(var(--index) * 1.7);
}
.note {
  color: #f10606;
  font-style: italic;
}
ul {
  text-align: left;
  padding: auto;
  margin: 16px;
  font-size: calc(var(--index) * 1.7);
}
.hand-exercises {
  padding: 16px;
  margin: 16px;
  list-style-type: decimal;
}
.hand-exercises-dumbbells {
  padding: 16px;
  margin: 16px;
  list-style-type: lower-alpha;
}
.contraindications-list {
  padding: 16px;
  margin: 16px;
  list-style-type: disc;
}
body {
  display: flex;
  background-color: var(--light-bgr-col);
  color: var(--light-text-col);
  min-height: 100vh;

  flex-direction: column;
  text-align: center;
  align-items: center;
}
.dark {
  background-image: url(../images/back.png);
  background-color: black;
  color: var(--dark-text-col);
}

main {
}
.header {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 16px;
  background-image: url(../images/back.png);
  background-color: rgba(0, 0, 0, 0.705);
}
/* Dark mode btn */
.dark-mode {
  display: block;
  position: fixed;
  right: 0;
  top: 50px;
  z-index: 99999;
}
.dark-mode-btn {
  display: flex;
  position: relative;
  justify-content: space-between;

  width: 51px;
  height: 26px;
  padding: 5px;

  border-radius: 50px;
  background-color: #27272750;
}
.dark-mode-btn::before {
  content: "";

  position: absolute;
  top: 4px;
  left: 4px;

  display: block;
  width: 20px;
  height: 20px;

  border-radius: 50%;
  background-color: rgba(0, 255, 255, 0.568);

  transition: left 0.2s ease-in;
}
.dark-mode-btn--active::before {
  left: 26px;
}

.dark-mode-btn__icon {
  position: relative;
  z-index: 9;
}

section {
  padding: 8px 8px 8px;
  padding-left: 8px;
}
.second-menu {
  list-style-type: none;
  padding: 8px;
}
.footer {
  /* height: calc(var(--index) * 7); */
  /* padding: 16px 0; */
  position: relative;
  left: 0;
  width: 100%;
  margin-top: 16px;
  padding-top: 16px;
  background-color: black;
  background-size: cover;
  background-position: center;
}

.footer-conteyner {
  display: flex;
  gap: 10px;
  padding-left: 8px;
}
@media (max-width: 620px) {
  .footer-conteyner {
    padding-left: 8px;
    flex-direction: column;
    align-items: center;
  }
}

.footer-address {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
}

.footer-logo {
  flex-grow: 1;
}

.address-list,
.address-info {
  flex-grow: 1;
  list-style-type: none;
}

.contact-title {
  margin-bottom: 16px;
}

.address-link {
  color: blueviolet;
  font-size: 16;
  font-weight: 300;
  text-decoration: none;
  font-style: italic;
}

.address-link:hover {
  color: rgb(15, 105, 95);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity 0.3s, visibility 0.3s;
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: relative;
  width: 100%;
  max-width: 880px;
  height: 100%;
  max-height: 880px;
  padding: 48px;
  background-color: rgba(0, 0, 0, 0.42);
  border-radius: 32px;
  overflow-y: auto;
}

.btn-close {
  position: absolute;
  top: 40px;
  right: 40px;
  background-color: rgba(0, 0, 0, 0.281);
  color: aqua;
}

.button {
  display: block;
  width: calc(var(--index) * 4.5);
  height: calc(var(--index) * 3);
  position: fixed;
  right: 0;
  top: 100px;
  z-index: 99999;
  background-color: rgba(0, 0, 0, 0.281);
  border-radius: 20px;
  color: aqua;
  margin: 0 auto 24px;
}
.mod-btn-st {
  background-color: #217a18;
  color: aqua;
  border-radius: 8px;
}
.menu {
  height: calc(var(--index) * 7);
  padding-left: 8px;
  padding-bottom: 0;
  font-size: calc(var(--index) * 1.5);
  list-style-type: none;
}
.second-menu {
  font-size: calc(var(--index) * 1.5);
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 0;
}
/* ------------------------------ */
#modnoye_okno,
#modnoye_okno1 {
  display: none;
  position: fixed;
  z-index: 9999999;
  background: #1f0505b7;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  max-width: 700px;
  width: 100%;
  text-align: center;
  padding: 10px 20px;
  border: 4px solid #0d5d29;
  border-radius: 25px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2), 0 16px 20px rgba(0, 0, 0, 0.2);
}
#modnoye_okno2 {
  display: none;
  position: fixed;
  z-index: 9999999;
  background: #1f0505de;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  max-width: 700px;
  width: 100%;
  text-align: center;
  padding: 10px 20px;
  border: 4px solid #0d5d29;
  border-radius: 25px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2), 0 16px 20px rgba(0, 0, 0, 0.2);
}
.mod_okno_img {
  width: calc(var(--index) * 25);
  height: calc(var(--index) * 25);
}
#kaxalon_oyena,
#kaxalon_oyena1,
#kaxalon_oyena2 {
  display: inline-block;
  margin: 10px 6px 4px 6px;
  text-decoration: none;
  position: relative;
  font-size: 16px;
  padding: 8px 16px;
  color: aqua;
  font-weight: bold;
  text-transform: uppercase;
  background: #1f6328;
}
#kaxalon_oyena:hover {
  color: #f10606;
}
#kaxalon_oyena:after,
#kaxalon_oyena:before {
  position: absolute;
  height: 2px;
  left: 50%;
  background: #4db733;
  bottom: -6px;
  content: "";
  transition: all 280ms ease-in-out;
  width: 0;
}
#kaxalon_oyena:before {
  top: -6px;
}
#kaxalon_oyena:hover:after,
#kaxalon_oyena:hover:before {
  width: 100%;
  left: 0;
}
.mod_ket {
  margin: 0;
}
