* {
}
@font-face {
  font-display: swap;
  font-family: "EB Garamond";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/eb-garamond-v27-cyrillic_latin-regular.woff2")
    format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "EB Garamond";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/eb-garamond-v27-cyrillic_latin-600.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "EB Garamond";
  font-style: italic;
  font-weight: 600;
  src: url("../fonts/eb-garamond-v27-cyrillic_latin-600italic.woff2")
    format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "EB Garamond";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/eb-garamond-v27-cyrillic_latin-700.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "EB Garamond";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/eb-garamond-v27-cyrillic_latin-800.woff2") format("woff2");
}
:root {
  --index: calc(1vw + 1vh);
  font-family: "EB Garamond";
}

html {
  scroll-behavior: smooth;
}
.logo-img {
  width: calc(var(--index) * 7);
  height: calc(var(--index) * 7);
}
img {
  width: calc(var(--index) * 25);
  height: calc(var(--index) * 25);
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 16px;
}
.img-iymf,
.img-nerv,
.img-blood {
  width: calc(var(--index) * 20);
}
h1 {
  color: #07c466;
  text-shadow: 0 0 10px #9eb47f;
  font-size: calc(var(--index) * 3);
}
h2 {
  color: #07c466;
  text-shadow: 0 0 10px #9eb47f;
  font-size: calc(var(--index) * 2.7);
}
h3 {
  color: #07c466;
  text-shadow: 0 0 10px #9eb47f;
  font-size: calc(var(--index) * 2.4);
}
p {
  color: #1f8f12;
  /* color: #000000; */
  text-align: left;
  padding: 8px;
  font-size: calc(var(--index) * 2);
}
.link {
  color: rgb(7, 167, 161);
}
span {
  font-weight: bold;
  font-size: calc(var(--index) * 2);
}
ul {
  text-align: left;
  padding: auto;
  margin: 16px;
  color: #217a18;
  font-size: calc(var(--index) * 2);
}
body {
  background-image: url(../images/back.png);
  background-color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
main {
  background-color: rgba(0, 0, 0, 0.436);
  /* background-color: rgba(255, 255, 255, 0.658); */
}
.header {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 16px;
  background-color: rgba(0, 0, 0, 0.705);
}
section {
  padding: 8px 8px 8px;
}
.second-menu {
  list-style-type: none;
  padding: 8px;
}
.footer {
  height: calc(var(--index) * 7);
  padding: 16px 0;
  position: relative;
  background-color: black;
  background-size: cover;
  background-position: center;
}

.footer-conteyner {
  display: flex;
  gap: 10px;
  padding-left: 8px;
}

.footer-address {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
}

.footer-logo {
  flex-grow: 1;
}

.address-list,
.address-info {
  flex-grow: 1;
  list-style-type: none;
}

.contact-title {
  margin-bottom: 16px;
}

.address-link {
  color: blueviolet;
  font-size: 16;
  font-weight: 300;
  text-decoration: none;
}

.address-link:hover {
  color: blanchedalmond;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity 0.3s, visibility 0.3s;
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: relative;
  width: 100%;
  max-width: 880px;
  height: 100%;
  max-height: 880px;
  padding: 48px;
  background-color: rgba(0, 0, 0, 0.42);
  border-radius: 32px;
  overflow-y: auto;
}

.btn-close {
  position: absolute;
  top: 40px;
  right: 40px;
  background-color: rgba(0, 0, 0, 0.281);
  color: aqua;
}

.button {
  display: block;
  width: calc(var(--index) * 4.5);
  height: calc(var(--index) * 3);
  position: fixed;
  right: 0;
  top: 100px;
  z-index: 99999;
  background-color: rgba(0, 0, 0, 0.281);
  border-radius: 20px;
  color: aqua;
  margin: 0 auto 24px;
}
.mod-btn-st {
  background-color: #217a18;
  color: aqua;
  border-radius: 8px;
}
.menu {
  height: calc(var(--index) * 7);
  padding: 8px;
  list-style-type: none;
}
/* ------------------------------ */
#modnoye_okno,
#modnoye_okno1 {
  display: none;
  position: fixed;
  z-index: 9999999;
  background: #ffffff00;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  max-width: 700px;
  width: 100%;
  text-align: center;
  padding: 10px 20px;
  border: 4px solid #0d5d29;
  border-radius: 25px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2), 0 16px 20px rgba(0, 0, 0, 0.2);
}
#kaxalon_oyena,
#kaxalon_oyena1 {
  display: inline-block;
  margin: 10px 6px 4px 6px;
  text-decoration: none;
  position: relative;
  font-size: 16px;
  padding: 8px 16px;
  color: aqua;
  font-weight: bold;
  text-transform: uppercase;
  background: #1f6328;
}
#kaxalon_oyena:hover {
  color: #f10606;
}
#kaxalon_oyena:after,
#kaxalon_oyena:before {
  position: absolute;
  height: 2px;
  left: 50%;
  background: #4db733;
  bottom: -6px;
  content: "";
  transition: all 280ms ease-in-out;
  width: 0;
}
#kaxalon_oyena:before {
  top: -6px;
}
#kaxalon_oyena:hover:after,
#kaxalon_oyena:hover:before {
  width: 100%;
  left: 0;
}
